@theme-base-black: rgba(31,43,54,1);
@theme-light8-black: rgba(31,43,54,0.8);
@theme-light6-black: rgba(31,43,54,0.6);
@theme-light4-black: rgba(31,43,54,0.4);
@theme-light2-black: rgba(31,43,54,0.2);